body{
    background-color: rgb(22, 22, 58);
    color: white;
    margin-left: 10px;
}
.container{
    margin: auto;
    width: 70%;
    margin-left: 30%;
    margin-top: 5%;
}
table{
    position: absolute ;
    top: 10%;
    right: 20%;
}
#age{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#money{
    margin-left: 9px;
    margin-bottom: 20px;
}
.infoColors{
    position: absolute;
    top: 59%;
    right: 30%;
}
.red{
    margin-right: 23px;
}
